{{ with site.Menus.main }}
  <menu class="hidden" id="menu">
    {{ range . }}
      <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        <a aria-current="{{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}" href="{{ .URL }}" itemprop="url">
          <span itemprop="name">{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
    <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      <a aria-current="{{ eq page.Section "tag" }}" href="{{ "tag/" | relURL }}" itemprop="url">
        <span itemprop="name">all tags</span>
      </a>
    </li>
  </menu>
{{ end }}
